# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.pyc

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
.env
*.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Coverage
htmlcov/
.coverage

# mypy
.mypy_cache/

# pipenv
Pipfile.lock

# virtual environment
venv/
env/
ENV/
